h2:hover{
    color:crimson
}
img.one:hover{
    box-shadow: 10px 5px #e7d20f;
}
image.one{
    
}
ol li a{
    color: palevioletred;
    text-decoration: none;
    text-align: center;
}
body{
    margin-left: 300px;
    background-color: #19bee7;
    font-size: 20px;
    font-style: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#container{
    margin: 2px 100px 50px 100px;
    display: flex;
    flex-direction: row;
}
h1 {
    color: red;
}
ul li{
    color: #0c09db;
}
h2.songs{
    color: orangered;
    font-family: Arial, Helvetica, sans-serif;
}