h1{
    color:rgb(0,0,255);
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    text-align: center;
}
p{
    color:blueviolet;
    font-style: italic;
    font-family:Arial, Helvetica, sans-serif;
    font-size : medium;
    border:1em slategrey;
    outline-style: dashed;
    padding:5px;
    width: 650px;
    height:70px;
}
li{
    color:#cc00bb;

}
h2{
    font-weight: 700;
}
body{
    background color: rgb(250, 0, 0);
}